// Equal spacing for the top div that currently has 3 GaugeCharts.
.equal-spacing {
    flex-grow: 1;
}

// .spacer-right {
//     border-right: 1px solid white;
// }
.spacer-top {
    border-top: 1px solid white;
}

.line-chart {
    flex-grow: 2;
}