.row {
    color: white;
}

.test span {
    background-color: red;
    padding: 2em;
}

.center {
    align-items: center;
}

.green_bg {
    background-color: green;
}

.red_bg {
    background-color: red;
}

.blue_bg {
    background-color: blue;
}

.lightblue_bg {
    background-color: lightblue;
}

.left-align {
    text-align: left;
}

.header {
    display: block;
    font-size: 1.5rem;
}

.header {
    display: block;
    font-size: 1.25rem;
}

.chart-padding {
    padding-right: 0.25rem;
    margin-right: 0.25rem;
}

.flex-wrapper {
    margin: -.5em;
}