#skip-link-layer {
  display: none; }

html,
body {
  /* Height and width fallback for older browsers. */
  height: 100%;
  width: 100%;
  /* Set the height to match that of the viewport. */
  height: 100vh;
  /* Set the width to match that of the viewport. */
  width: 100vw;
  /* Remove any browser-default margins. */
  margin: 0; }

.astronomy-card {
  text-align: center;
  background-color: #fff; }
  .astronomy-card img {
    min-width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
    max-height: 100vh; }
  .astronomy-card .astronomy-title {
    margin: 25px 0;
    padding: 15px 45px;
    font-size: 40px;
    color: #6200ea; }
  .astronomy-card .img-details {
    margin: 0 auto;
    width: 75vw;
    padding-bottom: 2em; }
  .astronomy-card p {
    font-size: 1.25em; }
