body,
html,
#root,
.root,
main,
.container {
    height: 100%;
    background-color: #d3d3d3;
}

.grid2x2 {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.grid2x2>.sidebar {
    display: flex;
    flex-basis: calc(20% - 40px);
    flex-direction: column;
}

.grid2x2>.chart-content {
    display: flex;
    flex-basis: calc(80% - 40px);
    flex-direction: column;
}

.box {
    margin: 20px;
}

.grid2x2>div>div {
    display: flex;
    // justify-content: center;
    flex-direction: row;
}

ul {
    margin: 0;
}

ul,
li {
    margin-left: 0;
    padding-left: 0;
}

.sidebar {
    background-color: red;
}

.chart-content {
    background-color: orange;
}

.nav {
    list-style-type: none;
}

.remove-margin {
    margin-left: 0;
    margin-right: 0;
}

#left .bottom {
    background-color: blue;
}

@media screen and (max-width: 600px) {
    #body {
        display: table-cell;
    }
}