.subtitle {
    line-height: 0.5;
    text-align: center;
}

.subtitle span {
    display: inline-block;
    position: relative;
}

.subtitle span:before,
.subtitle span:after {
    content: "";
    position: absolute;
    height: 5px;
    border-bottom: 1px solid white;
    top: 0;
    width: 1em;
}

.subtitle span:before {
    right: 100%;
    margin-right: 15px;
}

.subtitle span:after {
    left: 100%;
    margin-left: 15px;
}