body,
html,
#root,
.root,
main,
.container {
    height: 100%;
    background: #d3d3d3;
}

#body {
    height: 100%;
    overflow: hidden;
    /*makes the body non-scrollable (we will add scrolling to the sidebar and main content containers)*/
    margin: 0px;
    /*removes default style*/
    display: flex;
    /*enables flex content for its children*/
    box-sizing: border-box;
}

.column {
    height: 100%;
    /*allows both columns to span the full height of the browser window*/
    display: flex;
    flex-direction: column;
    /*places the left and right headers above the bottom content*/
}

#left {
    flex-shrink: 0;
    /*makes sure that content is not cut off in a smaller browser window*/
}

.top-left {
    flex-shrink: 0;
}

.top-right {
    flex-shrink: 0;
    display: inline-flex;
}

// Navigation
ul,
li {
    list-style: none;
}

a {
    color: white;
}

.Collapsible {
    display: inline;
}

.bottom {
    flex-grow: 1;
    /*ensures that the container will take up the full height of the parent container*/
    overflow-y: auto;
    /*adds scroll to this container*/
    width: 100%;
}

.top-left {
    background-color: #20a8d8;
}

.chart_styling {
    background: #ededed;
    border: 1px solid grey;
}

.line_chart,
.bar_chart,
.pie_chart,
.simple_chart,
.horizontal_chart,
.basic_chart {
    border-top: 1px solid grey;
    background: white;
    padding-top: 0.5em;
}

#right .container-fluid {
    background-color: #dddddd;
}

.top-right {
    background-color: blue;
}

#right {
    width: 100%;
}

.col {
    padding-top: 1em;
    padding-bottom: 1em;
}