@import "grommet/scss/vanilla/index";
.grommet.grommetux-app--centered {
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

html,
body {
    /* Height and width fallback for older browsers. */
    height: 100%;
    width: 100%;
    /* Set the height to match that of the viewport. */
    height: 100vh;
    /* Set the width to match that of the viewport. */
    width: 100vw;
    /* Remove any browser-default margins. */
    margin: 0;
}